<h1>Index of Menu Items:</h1>
<h4>Filter By: </h4>
  <ul>
   <li><a href="/menu_index/?meal_time=Breakfast">Breakfast</a></li> 
   <li><a href="/menu_index/?meal_time=Lunch">Lunch</a></li> 
   <li><a href="/menu_index/?meal_time=Dinner">Dinner</a></li>  
 </ul>
<h3><%= current_table && current_table.name %></h3>
<h2>Apps</h2>
  <% @apps.each do |app| %>
    <h3> <a href="/menu/<%= app.id %>"> <%= app.name %> </a><%= number_to_currency(app.price) %></h3>
  <% end %>
<h2>Entrees</h2>
  <% @entrees.each do |entree| %>
    <h3> <a href="/menu/<%= entree.id %>"> <%= entree.name %> </a><%= number_to_currency(entree.price) %></h3>
  <% end %>
<h2>Sides</h2>
  <% @sides.each do |side| %>
    <h3> <a href="/menu/<%= side.id %>"> <%= side.name %> </a><%= number_to_currency(side.price) %></h3>
  <% end %>
<h2>Desserts</h2>
  <% @desserts.each do |dessert| %>
    <h3> <a href="/menu/<%= dessert.id %>"> <%= dessert.name %> </a><%= number_to_currency(dessert.price) %></h3>
  <% end %>

<%= link_to "Review Order", "/review", method: :get %>

