<h1>Index of Menu Items:</h1>
<h4>Filter By: <% Category.all.each do |category| %>
                 <li><a href="/menu_index/?category=<%= category.name %>"><%= category.name %></a></li>  
                <% end %></h4>
<h3><%= current_table && current_table.name %></h3>
<h2>Apps</h2>
<h2>Entrees</h2>
<h2>Sides</h2>
<h2>Desserts</h2>
<% @menu_items.each do |item| %>
  <h3> <a href="/menu/<%= item.id %>"> <%= item.name %> </a><%= number_to_currency(item.price) %></h3>
  <%= form_tag '/review', method: :post do %>
    <input type="hidden" name="menu_item_id" value="<%= item.id %>">
    <input type="text" name="quantity" placeholder="Quantity" required>
    <input type="Submit" value="Add To Order">
  <% end %>
<% end %>

<%= link_to "Review Order", "/review", method: :get %>

