<h1><%= @menu_item.name %></h1>
<p><%= @menu_item.description %></p>
<h3><%= number_to_currency(@menu_item.price) %></h3>
<%= form_tag '/review', method: :post do %>
    <input type="hidden" name="menu_item_id" value="<%= @menu_item.id %>">
    <h3>Quantity</h3><input type="text" name="quantity">
    <input type="Submit" value="Add To Order">
<% end %>